@model DomesticViolencePortal.Models.NeedHelpUser

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="hero-wrap" style="background-image: url('/Content/images/needhelp.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-7 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
                <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
                    <span class="mr-2"><a href="/Home/Index/">Главная</a></span>
                    <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Помочь</h1>
            </div>
        </div>
    </div>
</div>
<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ftco-animate fadeInUp ftco-animated">

                <div class="about-author d-flex p-5 bg-light">
                    <div class="bio align-self-md-center mr-5">
                        <img src="@Html.DisplayFor(model => model.Image)" alt="Image placeholder" class="img-fluid mb-4">
                    </div>
                    <div class="desc align-self-md-center">
                        <h3>@Html.DisplayFor(model => model.User.LastName)</h3>
                        <h3> @Html.DisplayFor(model => model.User.FirstName)</h3>
                        <span>Заголовок</span></br>
                        @Html.DisplayFor(model => model.Title)</br>
                        <span>Обьявление</span></br>
                        <p>  @Html.DisplayFor(model => model.Text)</p>
                    </div>

                    @if (this.Session["IsAdmin"] != null && (bool)this.Session["IsAdmin"] == true)
                    {

                            @Html.ActionLink("Редактировать", "Edit", new { id = Model.UserId })



                        @Html.ActionLink("Удалить", "Delete", new { id = Model.UserId })
                    }


                </div>

               
           
            </div>

        </div>
    </div>



    <div class="row">
        <div class="col-sm-12" style="text-align:center">
            @Html.ActionLink("Вернуться к списку", "Index")
        </div>
    </div>
 
</section>

