@using DomesticViolencePortal.Models
@model DomesticViolencePortal.Models.Post

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="hero-wrap" style="background-image: url('/Content/images/bg_15.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-7 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
                <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
                    <span class="mr-2"><a href="/Home/Index/">Главная</a></span>
                    <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Наши Посты</h1>
            </div>
        </div>
    </div>
</div>
<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ftco-animate fadeInUp ftco-animated">

                <div class="about-author d-flex p-5 bg-light">
                    <div class="bio align-self-md-center mr-5">
                        <img src="@Html.DisplayFor(model => model.Image)" alt="Image placeholder" class="img-fluid mb-4">
                    </div>
                    <div class="desc align-self-md-center">
                        <h3>@Html.DisplayFor(model => model.User.LastName)</h3>
                        <h3> @Html.DisplayFor(model => model.User.FirstName)</h3>
                        <h3>
                            @Html.DisplayFor(model => model.Title)
                        </h3>
                        <p>  @Html.DisplayFor(model => model.Text)</p>
                    </div>

                    @if (this.Session["IsAdmin"] != null && (bool)this.Session["IsAdmin"] == true)
                    {


                        @Html.ActionLink("Редактировать", "Edit", new { id = Model.PostId })



                        @Html.ActionLink("Удалить", "Delete", new { id = Model.PostId })
                    }


                </div>

                @Html.Action("Partial", new { PostId = @Model.PostId })







                @if (Session["IsAuth"] == null)
                {

                    <div class="row">
                        <div class="col-sm-12" style="text-align:center">
                            @Html.ActionLink("Чтобы оставить комментарий-авторизируйтесь на сайте", "Login", "Account")
                        </div>
                    </div>
                }
                else
                {


                    {
                        Html.RenderAction("LeaveComment", new { postId = @Model.PostId });
                    }

                }
            </div>



        </div> <!-- .col-md-8 -->
        <div class="col-md-4 sidebar ftco-animate fadeInUp ftco-animated">
            <div class="sidebar-box">
                <form action="#" class="search-form">
                    <div class="form-group">
                        <span class="icon fa fa-search"></span>
                        <input type="text" class="form-control" placeholder="Type a keyword and hit enter">
                    </div>
                </form>
            </div>
            <div class="sidebar-box ftco-animate fadeInUp ftco-animated">
                <div class="categories">
                    <h3>Categories</h3>
                    <li><a href="#">Tour <span>(12)</span></a></li>
                    <li><a href="#">Hotel <span>(22)</span></a></li>
                    <li><a href="#">Coffee <span>(37)</span></a></li>
                    <li><a href="#">Drinks <span>(42)</span></a></li>
                    <li><a href="#">Foods <span>(14)</span></a></li>
                    <li><a href="#">Travel <span>(140)</span></a></li>
                </div>
            </div>

            <div class="sidebar-box ftco-animate fadeInUp ftco-animated">
                <h3>Recent Blog</h3>
                <div class="block-21 mb-4 d-flex">
                    <a class="blog-img mr-4" style="background-image: url(images/image_1.jpg);"></a>
                    <div class="text">
                        <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
                        <div class="meta">
                            <div><a href="#"><span class="icon-calendar"></span> July 12, 2018</a></div>
                            <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                            <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                        </div>
                    </div>
                </div>
                <div class="block-21 mb-4 d-flex">
                    <a class="blog-img mr-4" style="background-image: url(images/image_2.jpg);"></a>
                    <div class="text">
                        <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
                        <div class="meta">
                            <div><a href="#"><span class="icon-calendar"></span> July 12, 2018</a></div>
                            <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                            <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                        </div>
                    </div>
                </div>
                <div class="block-21 mb-4 d-flex">
                    <a class="blog-img mr-4" style="background-image: url(images/image_3.jpg);"></a>
                    <div class="text">
                        <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
                        <div class="meta">
                            <div><a href="#"><span class="icon-calendar"></span> July 12, 2018</a></div>
                            <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                            <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sidebar-box ftco-animate fadeInUp ftco-animated">
                <h3>Tag Cloud</h3>
                <div class="tagcloud">
                    <a href="#" class="tag-cloud-link">dish</a>
                    <a href="#" class="tag-cloud-link">menu</a>
                    <a href="#" class="tag-cloud-link">food</a>
                    <a href="#" class="tag-cloud-link">sweet</a>
                    <a href="#" class="tag-cloud-link">tasty</a>
                    <a href="#" class="tag-cloud-link">delicious</a>
                    <a href="#" class="tag-cloud-link">desserts</a>
                    <a href="#" class="tag-cloud-link">drinks</a>
                </div>
            </div>

            <div class="sidebar-box ftco-animate fadeInUp ftco-animated">
                <h3>Paragraph</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur similique, inventore eos fugit cupiditate numquam!</p>
            </div>
        </div>

    </div>
    </div>
</section>

<p>

    @Html.ActionLink("Вернуться к списку", "Index")
    @Html.ActionLink("Вернуться личный кабинет", "PersonalCabinet", "Account")
</p>



